.container-fluid {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  width: 100%;
  overflow: hidden;
}
.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 1000px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex: 3;
  }
}
